{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to my blog! I am a passionate DevOps enthusiast with a rich background in telecommunications, now fully dedicated to mastering the world of DevOps. My journey has led me to become fluent in Python and to acquire multiple AWS certifications. Along the way, I’ve embraced a variety of powerful tools and technologies such as Docker, Jenkins, Ansible, Kubernetes, AWS CodePipeline, and CloudFormation. </p>
        <p>I thrive on solving complex problems efficiently while ensuring the stability and security of the entire system. My work is driven by a commitment to automation and infrastructure-as-code excellence. I’m result-oriented, capable of performing under pressure, and always persistent and patient in my approach. </p>
        <p>Collaboration and knowledge sharing are at the heart of my work ethic. I believe in the power of teamwork and the importance of continuous learning. This blog is a place where I can share my development journey, insights, and experiences with like-minded enthusiasts and professionals. </p>
        <p>Join me as I dive into the ever-evolving world of DevOps and software development. Together, let’s explore new technologies, solve exciting challenges, and drive innovation forward. </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
